<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MinecraftDatapackReloadHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<MinecraftDatapackReloadHelper.Settings>
   <setting name="RconIp" serializeAs="String">
    <value />
   </setting>
   <setting name="RconPort" serializeAs="String">
    <value>25575</value>
   </setting>
   <setting name="RconPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="SourcePath" serializeAs="String">
    <value />
   </setting>
   <setting name="CopyPath" serializeAs="String">
    <value />
   </setting>
   <setting name="ExtractOutput" serializeAs="String">
    <value />
   </setting>
  </MinecraftDatapackReloadHelper.Settings>
	</userSettings>
</configuration>